.wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.dashboard {
    background-color: var(--dashboard-bg);
    padding: calc(var(--dashboard-padding) / 2);
    align-self: center;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    &-panels{
        display: grid;
        gap: var(--grid-gap);
        grid-template-columns: 1fr;
        margin-bottom: var(--grid-gap);
    }
    &-column{
        display: grid;
        gap: var(--grid-gap);
    }
    &-boxes{
        display: grid;
        gap: var(--grid-gap);
        grid-template-columns: 1fr;
    }
    &-box{
        box-shadow: var(--shadow);
        padding: var(--dashboard-box-padding);
        &-title{
            text-transform: uppercase;
            margin-bottom: 2.0rem;
        }
    }
    &-title{
        margin-bottom: 2.0rem;
    }
}

// --media-xl: 1201px;
// --media-lg: 992px;
// --media-md: 768px;
// --media-sm: 576px;


@media only screen and (min-width: 992px){
    .dashboard{
        padding: var(--dashboard-padding);
        &-title{
            margin-bottom: 4.0rem;
        }
        &-panels, &-boxes{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media only screen and (min-width: 1201px){
    .dashboard{
        &-panels{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}