@import './theme.scss';

*, *::before, *::after {
    box-sizing: border-box;
}

html {
  font-size: var(--html-font-size);
}

body {
  font-size: var(--body-font-size);
  font-family: var(--main-font);
  background-color: var(--body-bg);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.h1 {
  font-size: var(--h1);
}

.h2 {
  font-size: var(--h2);
}

.h3 {
  font-size: var(--h3);
}

@media only screen and (min-width: 1201px){
    body{
        overflow: hidden;
    }
}